<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Video hosting demo</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script>
        function deleteVideo(name) {
            $.ajax({
                url: "./api/videos/" + name,
                type: "DELETE",
                success: function(result) {
                    console.log("DELETED: " + name);
                    window.location.href=window.location.href;
                },
                error: function (request, status, error) {
                    console.log("ERROR: " + name);
                }
            });
        }
    </script>
</head>
<body>
<div class="container my-3">
    <ul class="list-group" th:object="${videos}" id="videos">
        <li class="list-group-item" th:each="video :${videos}">
            <a th:href="${video.getName()}" th:text="${video.getName()}"></a>
            <button class="float-right" type="button"
                    th:data="${video.getName()}"
                    th:onclick="deleteVideo(this.getAttribute('data'))">X</button>
        </li>
    </ul>
    <br>
    <form method="POST" action="" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp4" />
        <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>