<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Video hosting demo</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container mt-3">
    <div class="embed-responsive embed-responsive-16by9">
        <video autoplay="autoplay" controls>
            <source th:src="@{../api/videos/{name}(name=${videoName})}" type="video/mp4">
        </video>
    </div>
</div>
</body>
</html>